# Compiled source & project cruft #
###################################
*.pyc

*.cof
*.map
*.hex
*.mcs
*.mcw

build
dist
private
*.mk
*.properties
*.bash
*.o
*.o.d
Makefile-default.mk
Makefile-genesis.properties
Makefile-impl.mk
Makefile-local-default.mk
Makefile-variables.mk
Package-default.bash
nbproject/private